.footer-main {
  background-color: $footerMainBGColor;
  text-align: center;
  padding-bottom: 70px;

  @media (max-width: $tabletScreenSize) {
    padding-bottom: 56px;
  }

  @media (max-width: $mobileScreenSize) {
    padding-bottom: 47px;
  }
}

.footer-main__section-title {
  @include titleTheme($titleColor: #fefefe);
  padding-top: 66px;

  @media (max-width: $tabletScreenSize) {
    padding-top: 57px;
  }

  @media (max-width: $mobileScreenSize) {
    padding-top: 38px;
    margin-bottom: 8px;
  }
}

.footer-main__text {
  color: $footerTextColor;
  font-size: 16px;
  line-height: 28px;
  max-width: 684px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 37px;

  @media (max-width: $mobileScreenSize) {
    font-size: 12px;
    line-height: 20px;
    max-width: 303px;
    margin-bottom: 26px;
  }
}

.footer-main__text-last-sentence {
  @media (max-width: $mobileScreenSize) {
    display: none;
  }
}

.footer-main__nav-list {
  @include listReset;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.footer-main__nav-link {
  border: solid 2px;
  border-radius: 50%;
  padding: 12px 12px;
  display: block;

  &--rss {
    border-color: #f8902e;
    padding: 12px 12px;
  }

  &--facebook {
    border-color: #39599f;
    padding: 11px 14px;
  }

  &--twitter {
    border-color: #45b0e3;
    padding: 11px 12px;
  }

  &--dribbble {
    border-color: #d97ab0;
    padding: 11px 11px;
  }

  &--pinterest {
    border-color: #cc212c;
    padding: 11px 12px;
  }
}

.footer-main__nav-img {
  display: block;
}

.footer-main__contacts {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 34px;

  @media (max-width: $middleScreenSize) {
    flex-direction: column;
    gap: 0px;
  }

  @media (max-width: $mobileScreenSize) {
    margin-top: 25px;
  }
}

.footer-main__contacts-adress {
  margin-top: 0px;
  margin-bottom: 0px;
  @include contactsTheme;

  &::after {
    content: "/";
    margin-left: 10px;
  }
}

.footer-main__contacts-tel {
  @include contactsTheme;

  &::after {
    content: "/";
    margin-left: 10px;
  }
}

.footer-main__contacts-mail {
  @include contactsTheme;
}
