.page-body {
    background-color: $bodyBGColor;
    font-family: $mainFont;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $tabletScreenSize) {
        max-width: 768px;
      }

    @media (max-width: $mobileScreenSize) {
        max-width: 320px;
      }
}

.section-title {
    @include titleTheme;
    font-size: $titleFontSize;
    margin-top: 0px;
    margin-bottom: 24px;

    @media (max-width: $mobileScreenSize) {
      font-size: $titleFontSizeMV;
      }
}