.header-main__nav {
  position: relative;
  padding-top: 45px;
  padding-bottom: 51px;

  @media (max-width: $tabletScreenSize) {
    padding-top: 41px;
    padding-bottom: 43px;
  }

  @media (max-width: $mobileScreenSize) {
    padding-top: 23px;
    padding-bottom: 23px;
    display: flex;
    justify-content: flex-end;
  }
}

.header-main__nav-list {
  @include listReset;
  display: flex;
  gap: 68px;
  justify-content: center;

  @media (max-width: $tabletScreenSize) {
    gap: 34px;
  }

  @media (max-width: $middleScreenSize) {
    gap: 17px;
  }

  @media (max-width: $mobileScreenSize) {
    display: none;

    &--active {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #f5f5f5;
      width: 182px;
      gap: 0px;
      top: 60px;
    }
  }
}

.header-main__nav-link {
  @include titleTheme;
  font-size: 11px;

  &:focus {
    color: #57a4a4;
  }

  @media (max-width: $mobileScreenSize) {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;

    &:hover {
      background-color: #e5e5e5;
    }
  }
}

.header-main__btn {
  background-color: #000;
  border: none;
  padding: 0px;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 1;

  @media (max-width: $mobileScreenSize) {
    display: block;
  }
}

.header-main__btn-burger {
  display: none;

  @media (max-width: $mobileScreenSize) {
    display: block;
  }

  &--hidden {
    display: none;
  }
}

.header-main__btn-cross {
  &--hidden {
    display: none;
  }
}
