.instagram {
  background-color: $instagramSectionBGColor;

  @media (max-width: $mobileScreenSize) {
    background-color: $bodyBGColor;
  }
}

.instagram__title-container {
  display: flex;
  justify-content: space-between;
  padding-top: 47px;

  @media (max-width: $mobileScreenSize) {
    padding-top: 38px;
  }
}

.instagram__section-title {
  @media (max-width: $tabletScreenSize) {
    margin-bottom: 35px;
  }

  @media (max-width: $mobileScreenSize) {
    margin-bottom: 13px;
  }
}

.instagram__appeal {
  @include titleTheme;
  font-size: 13px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;

  @media (max-width: $mobileScreenSize) {
    display: none;
  }
}

.instagram__list {
  @include listReset;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  padding-bottom: 49px;

  @media (max-width: $tabletScreenSize) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $mobileScreenSize) {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 42px;
  }
}

.instagram__list-item {
  @media (max-width: $tabletScreenSize) {
    &:last-child {
      display: none;
    }
  }

  @media (max-width: $mobileScreenSize) {
    &:nth-last-child(-n + 3) {
      display: none;
    }
  }
}

.instagram__photo {
    width: 100%;
    height: auto;
}