@mixin titleTheme($titleColor: #4e4e4e) {
  color: $titleColor;
  text-transform: uppercase;
  line-height: 22px;
}

@mixin contactsTheme {
  color: $footerTextColor;
  font-size: 16px;
  line-height: 26px;

  @media (max-width: $mobileScreenSize) {
    font-size: 14px;
    line-height: 24px;
  }
}

@mixin listReset {
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: none;
}
