.recent-posts {
    margin-top: 66px;
    margin-bottom: 69px;

    @media (max-width: $tabletScreenSize) {
        margin-top: 56px;
        margin-bottom: 60px;
      }

      @media (max-width: $mobileScreenSize) {
        margin-top: 38px;
        margin-bottom: 39px;
      }
}

.recent-posts__list {
    @include listReset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 25px;

    @media (max-width: $tabletScreenSize) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 28px;
      }
}

.recent-posts__list-item {
    display: flex;
    gap: 20px;

    @media (max-width: $mobileScreenSize) {
        flex-direction: column;
        gap: 11px;
        &:last-child {
            display: none;
        }
      }
}

.recent-posts__post-title {
    color: $titleColor;
    font-size: $titleFontSize;
    line-height: 30px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;

    @media (max-width: $mobileScreenSize) {
        font-size: $titleFontSizeMV;
        }
}

.recent-posts__comments {
    color: $commentsColor;
    font-size: 12px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

    @media (max-width: $mobileScreenSize) {
        font-size: 11px;
        }
}

.recent-posts__text {
    color: $textPostsColor;
    font-size: 14px;
    line-height: 26px;
    margin-top: 13px;
    margin-bottom: 0px;
    max-width: 404px;

    @media (max-width: $mobileScreenSize) {
        display: none;
        }
}