$mainFont: "Roboto", sans-serif;

$tabletScreenSize: 992px;
$middleScreenSize: 660px;
$mobileScreenSize: 480px;

$bodyBGColor: #ffffff;
$instagramSectionBGColor: rgba(0, 0, 0, 0.03);
$footerMainBGColor: #000000;

$titleColor: #4e4e4e;
$titleFontSize: 16px;
$titleFontSizeMV: 14px;

$commentsColor: #7c7c7c;
$textPostsColor: #5c5c5c;

$footerTextColor: #b9b9b9;